<div class="transactionCard">
    <div class="coinSelection">
        <form [formGroup]="transaction" class="center">
            <div>
                <div>
                    <div>
                        <p>Buying: </p>
                        <p-dropdown [options]="allCoins" formControlName="buyCoin" ngModel="bitcoin"></p-dropdown>
                    </div>
                    <div>
                        <p>Pay with: </p>
                        <p-dropdown [options]="allCoins" formControlName="sellCoin" (ngModelChange)="getAvailable()"></p-dropdown>
                        <p>Avaliable: {{available}}</p>
                    </div>
                    <div class="space">
                        <input type="number" pInputText formControlName="sellVolume" (ngModelChange)="buyUpdate()" min="0">
                        <p> ~ {{howmuchCanBuy}} {{buyCoin}} </p>
                    </div>
                </div>
                <div *ngIf="insufficientFunds">
                    <p class="warning">Insufficient funds to make trade.</p>
                </div>
                <div *ngIf="selectCoins">
                    <p class="warning">No coins selected to make trade with.</p>
                </div>
                <div *ngIf="zeroTradeAmount">
                    <p class="warning">Trade value must not be blank or 0.</p>
                </div>
            </div>
        </form>
        <div class="center topSpace">
            <p-confirmPopup></p-confirmPopup>
            <p-button (click)="confirm($event)" icon="pi pi-check" label="Confirm"></p-button>
        </div>
    </div>
</div>

<div class="card flex justify-content-center">
    <p-sidebar [(visible)]="sidebarVisible" [fullScreen]="true">
        <div class="center topSpace">
            <p>Success fully swapped {{sellCoinAmount}} {{sellCoin}} for {{howmuchCanBuy}} {{buyCoin}}</p>
        </div>
    </p-sidebar>
</div>