<div class="footer">
    <div class="footerElement">
        <img src="../../assets/asset_8.png" width="120px">
        <p>Crypto Trading Demo</p>
    </div>
    <div class="footerElement">
        <p>Detailed Market Overview</p>
        <ul>
            <li>CoinGecko</li>
            <li>CoinMarketCAp</li>
            <li>Luna</li>
        </ul>
    </div>
    <div class="footerElement">
        <p>Real Exchanges</p>
        <ul>
            <li>Coin EX</li>
            <li>VALR</li>
            <li>Luna</li>
            <li>Binance</li>
            <li>Crypto.com</li>
        </ul>
    </div>
    <div class="footerElement">
        <p>Terms and usage</p>
        <ul>
            <li>About</li>
        </ul>
    </div>
</div>
