<div class="header">
    <div class="siteLogo">
        <img src="../../assets/asset_8.png" width="120px">
    </div>
    <div class="navigationButtons">
        <p-button label="Holdings" styleClass="p-button-warning" class="buttonSpaceLeft" (onClick)="loadHoldings()"></p-button>
        <p-button label="Trade" styleClass="p-button-warning" class="buttonSpaceLeft" (onClick)="loadTrade()"></p-button>
        <p-button label="Markets" styleClass="p-button-warning" class="buttonSpaceLeft" (onClick)="loadMarkets()"></p-button>
        <p-button label="About" styleClass="p-button-warning" class="buttonSpaceLeft" (onClick)="loadAbout()"></p-button>
    </div>
    <div class="clickOfButtons">
        <p-button styleClass="p-button-secondary" class="buttonSpaceRight" (onClick)="logout()">Logout</p-button>
        <p-button class="buttonSpaceRight">Settings</p-button>
    </div>
</div>
